*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: #131211a6;
  height: 100vh;
  background-color: rgba(238, 243, 248, 0.438);
}


header{
  width: 100vw;
  padding: 2rem;
  background-color: #fff;
}

.headerPagina{

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerPagina .itens-navegar{
  margin: 1rem;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.headerPagina .user-options{
  margin: 1rem;
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav{
  display: flex;
  width: 100vw;
  padding: 5rem;
  background-color: lightblue;
}

.infosInteresse .containerImagens{
  display: flex;
  padding: 4rem;
  align-items: center;
  z-index: 0;
  position: relative;
  overflow: hidden;
}

/*----------------------------------------*/

main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerBuscaVeiculos{
  background-color: #fff;
  width: 60vw;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 20px;
  font-weight: 550;
  z-index: 1;
  bottom: 100px;
  position: relative;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.11);
}

.containerBuscaVeiculos .divisoria{
  width: 100%;
  align-self: left;
  padding: 1px;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: rgba(243, 108, 108, 0.404);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.027);
}

.sessoes .catalogo-sessoes{
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0.8rem;
  gap: 0.5rem;
}

.catalogo-sessoes .carro-moto-outro{
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.catalogo-sessoes .nivel-conservacao{
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.catalogo-sessoes .barra-busca{
  margin-top: 2rem; 
}

.barra-busca input{
  width: 80%;
  padding: 12px;
  border: none;
  font-size: medium;
  background-color: #f7f4f470;
  border-radius: 2px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.103);
}

.barra-busca button{
  padding: 15px;
  margin-left: 5px;
  border: none;
  color: #fff;
  background-color: rgb(245, 97, 97);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.253);
}

/*----------------------------------------------------------*/

aside{
  width: 50vw;
  padding: 1rem;
  align-items: center;
  margin: auto;
  text-align: left;
  position: relative;
  overflow: hidden;
}

aside .marcas{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.5s ease;
  padding: 1rem;
  gap: 3rem;
  width: 100%;
}

.nome-foto-marca{
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 2rem;
  width: 50%;
  flex: 1;
}

.nome-foto-marca li{
  width: 50%;
  display: flex;
  background-color: #fff;
  border: 1px solid #bebbbbe1;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.123);
  padding: 3rem;
  flex: 1 1 0;
  border-radius: 50%;
  box-sizing: border-box;
}

/*---------------------------------------------------------*/

.categorias{
  margin: auto;
  width: 70%;
  position: relative;
  overflow: hidden;
}

.categorias h1{
  font-size: 18px;
  margin-bottom: 1rem;
}

.categorias-veiculo{
  display: flex;
  gap: 1rem;
  list-style: none;
}

.categorias-veiculo li{
  padding: 5rem;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 20px;
  gap: 1rem;
}

/*--------------------------------------------------*/

.cadastrarVeiculo{
  margin: 3rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.cadastrarVeiculo .form-display{
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: baseline;
  padding: 1rem;
}

.form-display .container-form{
  display: flex;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.123);
  flex-direction: column;
  padding: 5rem 1rem 5rem 1rem;
  width: 25%;
  gap: 1rem;
}

.container-form input{
  background-color: rgba(229, 236, 243, 0.623);
  padding: 10px;
  height: 38px;
  width: 100%;
  outline: none;
  border-radius: 4px;
  border: none;
}

.container-form button{
  padding: 1rem;
  margin-top: 5px;
  cursor: pointer;
  width: 70%;
  border: none;
  background-color: rgb(245, 97, 97);
  color: #fff;
  align-self: center;
}

.mostrarVeiculos{
  display: flex;
  width: 100%;
  flex: 1;
  height: fit-content;
  flex-wrap: wrap;
  padding: 2rem;
  margin-left: 1rem;
  gap: 2rem;
}

.container-veiculos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  width: 100%;
  list-style: none;
}

.veiculo{
  display: flex;
  height: fit-content;
  width: fit-content;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.123);
  border-radius: 1rem;
}

.veiculo img{
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.veiculo .infosVeiculo{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 2rem;
  gap: 5px;
  font-size: 25px;
}

.infosVeiculo h1{
  font-weight: bolder;
}

.infosVeiculo p{
  font-style: italic;
  font-weight: lighter;
}


.infosVeiculo .btns-veiculo{
  display: flex;
  gap: 1rem;
}

.infosVeiculo button{
  padding: 0.9rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 70%;
  border: none;
  color: #fff;
}

.infosVeiculo #apagarVeiculo{
  background-color: rgb(245, 97, 97);
}

.infosVeiculo #verVeiculo{
 border: 1px solid rgb(245, 97, 97);
 color: rgb(245, 97, 97);
 background-color: #fff;
}

