<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="form-login">
            <h1>Entre na sua conta:</h1>
            <div class="inputs-form">
                <input type="text" name="email-user" id="email-user" placeholder="Digite seu email">
                <input type="password" name="password-user" id="password-user" placeholder="Digite sua senha">
                <button id="login">Login</button>
            </div>
        </section>
        <section class="form-cadastro">
            <h1>Faça seu cadastro:</h1>
            <div class="inputs-cadastro">
                <input type="text" name="name" id="name_user" placeholder="Informe seu nome completo">
                <input type="date" name="data_nascimento" id="data_nascimento">
                <input type="email" name="email" id="email_user" placeholder="Informe um email válido">
                <input type="password" name="password" id="password" placeholder="Informe uma senha">
                <input type="password" name="password" id="password-auth" placeholder="Confirme a senha">
                <button id="cadastrar">Cadastrar</button>
            </div>
        </section>
    </main>
</body>
</html>